<ul class="list-inline tabs-underlined mb-5">
  <li>
    <span class="tab-underlined active">Team</span>
  </li>
</ul>

{{#each users as |user|}}
  <div class="card-product">
    <img class="avatar-large" alt="avatar-large" src="{{ user.avatar }}" />
    <div class="card-product-infos">
      <h2>{{ user.fullName }}</h2>
      <ul>
        <li>{{ user.position }}</li>
        <li>a.k.a {{ user.nicknames }}</li>
        <li>age: {{ user.age }}</li>
        <li>hood: {{ user-location user.city }}</li>
      </ul>
    </div>
  </div>
{{/each}}
